<%= error_messages_for(@team) %>


<table summary = "team form fields">
		<tr>
			<th><%= f.label(:name) %></th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th><%= f.label(:manager) %></th>
			<td><%= f.text_field(:manager) %></td>
		</tr>
		<tr>
			<th><%= f.label(:payroll) %></th>
			<td>&#36;<%= f.text_field(:payroll) %></td>
		</tr>
</table>