<div class = "Teams Index">
	<h2>Teams</h2>

	<%= link_to("Add new team", {:action => 'new'}, :class => "action new") %>

	<div><%= pluralize(@teams.size, 'team') %> found </div>
	<table class="listing" summary="Team list">
		<tr class="header">
			<th>Name</th>
			<th>Manager</th>
			<th>Payroll</th>
		</tr>

		<% @teams.each do |t| %>
			<!-- "cycle" text helper method enables us to utilize zebra striping on a large list -->
			<tr class = "<%= cycle('odd', 'even') %>">
				<td><%= t.name %></td>
				<td><%= t.manager %></td>
				<td><%= t.payroll %></td>
				<td class="actions">
					<%= link_to("Show", team_path(t.id), :class => 'action show') %>
					<%= link_to("Edit", edit_team_path(t.id), :class => 'action edit') %>
					<%= link_to("Delete", delete_team_path(t.id), :class => 'action delete') %>
				</td>
			</tr>
		<% end %>

	</table>
</div>