<%= link_to("<< Back to index", {:action => 'index'}, :class => 'back-link') %> 

<div class = "show team">
	<h2>Team Details</h2>

	<table summary = "team show fields">
			<tr>
				<th>Name</th>
				<td><%= @team.name %></td>
			</tr>
			<tr>
				<th>Manager</th>
				<td><%= @team.manager %></td>
			</tr>
			<tr>
				<th>Payroll</th>
				<td><%= @team.payroll %></td>
			</tr>
	</table>

	<h2>Players</h2>
	<table summary = "team players">
		<tr class="player headers">
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>

		<% @players.each do |p| %>
			<tr>
				<td><%= p.first_name %></td>
				<td><%= p.last_name %></td>
				<td><%= p.email %></td>
			</tr>
		<% end %>
	</table>

</div>
