<!-- Add new game to database -->
<%= link_to('Add new game', {:action => 'new'}, :class => 'new game') %>

<!-- Display all existing games -->
<table>
	<tr>
		<th>Game ID</th>
		<th>Home Team</th>
		<th>Away Team</th>
		<th>Location</th>
		<th>Time</th>
		<th>Home Score</th>
		<th>Away Score</th>
		<th>Actions</th>
	</tr>

	<% @games.each do |g| %>
		<tr>
			<td><%= g.id %></td>
			<td><%= g.home_team.name %></td>
			<td><%= g.away_team.name %></td>
			<td><%= g.location %></td>
			<td><%= g.game_time %></td>
			<td><%= g.home_score %></td>
			<td><%= g.away_score %></td>
			<td>
				<%= link_to('Show', {:action => 'show', :id => g.id}, :class => 'game show') %>
				<%= link_to('Edit', {:action => 'edit', :id => g.id}, :class => 'game edit') %>
				<%= link_to('Delete', {:action => 'delete', :id => g.id}, :class => 'game delete') %>
			</td>
		</tr>
	<% end %>

</table>
