<% if !flash[:notice].blank? %>
	<div><%= flash[:notice] %></div>
<% end %>

<div class = "Players Index">
	<h2>Players</h2>

	<%= link_to("Add new player", {:action => 'new'}, :class => "action new") %>

	<table class="listing" summary="Player list">
		<tr class="header">
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Team</th>
			<th>Actions</th>
		</tr>

		<% @players.each do |p| %>
			<tr>
				<td><%= p.first_name %></td>
				<td><%= p.last_name %></td>
				<td><%= p.email %></td>
				<td><%= p.team %></td>
				<td class="actions">
					<%= link_to("Show", {:action => 'show', :id => p.id}, :class => 'action show') %>
					<%= link_to("Edit", {:action => 'edit', :id => p.id}, :class => 'action edit') %>
					<%= link_to("Delete", {:action => 'delete', :id => p.id}, :class => 'action delete') %>
				</td>
			</tr>
		<% end %>

	</table>

</div>





