<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View players', :action => 'index' %></li>
  <li class="active"><%= link_to 'New Player', :action => 'new' %></li>
</ul>

<%= link_to("<< Back to index", {:action => 'index'}, :class => 'back-link') %>

<div class = "new player">
	<h2>Create Player</h2>

	<%= form_for(@player) do |p| %>

		<%= render(:partial => "form", :locals => {:f => p}) %>

		<div class = "player form buttons">
			<%= link_to("Create Player", players_path, class:'btn btn-xs btn-info') %>
		</div>

	<% end %>
</div>
