<%= form_for @post, remote: true do |f| %>
	<div class='modal-body'>

		<div class='control-group'>
			<%= f.label :topic, class:'control-label' %>
			<div class="controls">
				<%= f.text_field :topic %>
			</div>
		</div>

		<div class='control-group'>
			<%= f.label :desc, class:'control-label' %>
			<div class="controls">
				<%= f.text_area :desc  %>
			</div>
		</div>
	</div>

	<div class="model-footer">
		<%= f.button "Post", class: 'btn btn-xs btn-info', data:{disable_with:"<i class='fa fa-spinner fa-spin'></i>Posting..."}, remote:true %>
		<%= link_to "Cancel", 'new_post_cancel', remote: true, class: 'btn' %>
	</div>

<% end %>