<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to(image_tag("abhl_logo.jpg", alt:'Brand', height:'45', width:'65'), {:controller => 'posts', :action => 'index'}) %>
    </div>

    <ul class="nav navbar-nav">
    	<li><%= link_to("Standings", "#") %></li>
    	<li class="schedule">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedule <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to("Full Schedule", {:controller => 'games', :action => 'index'}) %></li>
          <li><%= link_to("Schedule by Team", '#') %></li>
        </ul>
      </li>
      <li><%= link_to("Statistics", "#") %></li>

      <li class="teams">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to("Tigers", {:controller => 'teams', :action => 'show', :id => '1'}) %></li>
          <li><%= link_to("Shockers", {:controller => 'teams', :action => 'show', :id => '5'}) %></li>
          <li><%= link_to("Slammers", {:controller => 'teams', :action => 'show', :id => '2'}) %></li>
          <li><%= link_to("Chain Gang", {:controller => 'teams', :action => 'show', :id => '6'}) %></li>
          <li><%= link_to("Cash Only", {:controller => 'teams', :action => 'show', :id => '3'}) %></li>
          <li><%= link_to("Roosters", {:controller => 'teams', :action => 'show', :id => '4'}) %></li>
        </ul>
      </li>

    </ul>

	  <ul class="nav navbar-nav navbar-right">
	  	<% if session[:player_id] %>
	  		Welcome, <%= session[:player_email] %>
	  		<%= link_to('Logout', {:controller => 'access', :action => 'logout'}) %>
			<% else %>
				<li class="login">
					<%= form_tag({:controller => 'access', :action => 'attempt_login'}, {:role => "form", :class => "form-inline"}) do %>
					  <div class = "form-group">
					  	<%= label_tag(:email) %>
					  	<%= text_field_tag(:email, "", {:class => 'form-control'}) %>
					  </div>
					  <div class = "form-group">
					  	<%= label_tag(:password) %>
					  	<%= text_field_tag(:password, "", {:class => 'form-control'}) %>
					  </div>
					  <%= submit_tag("Login") %>
					<% end %>
				</li>
	    <% end %>
	  </ul>
  </div>
</nav>